* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0f0f0f;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.s_links {
    display: flex;
    gap: 50px;
}

.link:hover {
    color: red;
}

a {
    text-decoration: none;
    color: white;
}

.button {
    color: white;
    cursor: pointer;
}

.container-animes {
    text-align: center;
    padding: 20px;
}

.anime-card {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
}

.img-anime {
    border: 2px solid rgb(122, 122, 122);
    border-radius: 25px;
    min-width: 150px;
    flex-direction: column;
    margin-top: 30px;
    background-color: #0f0f0f;
    border-radius: 10px;
    overflow: hidden;
}

.img-anime:hover {
    transform: scale(1.1);
}

.img-anime img {
    width: 100%;
    height: 150px;
}

.img-anime h2 {
    font-size: 20px;
    color: #ddd;
    text-align: center;
}

h2 button {
    background: #0f0f0f;
    border-radius: 6px;
    color: #ddd;
    border: none;
    font-size: 22px;
    text-transform: uppercase;
}

h2 button:hover {
    color: red;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

h2:before,
h2:after {
    background-color: #ddd;
    content: '\a0';
    flex-grow: 1;
    height: 1px;
    position: relative;
    top: 0.5em;
}

h2:before {
    margin-right: 10px;
}

h2:after {
    margin-left: 10px;
}